<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=inc.title%></title>

    <%include ../partial/head.ejs%>

    <%-css%>
</head>

<body>

<div id="wrapper">

    <%include ../partial/nav%>

    <div id="page-wrapper" class="gray-bg">

        <!--工具条Toobar-->
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

                <ul class="nav navbar-top-links navbar-right">


                    <li>
                        <a href="/manager/logout">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>


            </nav>
        </div>

        <!--内容页头部man Title-->
        <div id="top" class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2><%=inc.title%> <a class="btn btn-primary" href="<%=url.add%>"><i class="fa fa-plus"></i></a></h2>
                <!--<ol class="breadcrumb">-->
                    <!--<li>-->
                        <!--<a href="/">Home</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a>体育中心</a>-->
                    <!--</li>-->
                    <!--<li class="active" v-for="item in inc.urls">-->
                        <!--<strong>列表</strong>-->
                        <!--<span>|</span>-->
                        <!--<a href="/center/add" :href="item.url" >添加</a>-->
                    <!--</li>-->
                <!--</ol>-->
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <!--Content-->
        <%- body%>
    </div>
</div>

<%include ../partial/foot%>
<script>
    var inc = JSON.parse('<%- JSON.stringify(inc)%>');
</script>
<%-js%>
</body>

</html>